@media (min-width: 701px) {

}
.kolumn-1-about{
    padding: 50px;
    background-color: black;
    width:500px;
    height: 350px;
    margin-left: 60px;
    margin-bottom: 200px;
}
#slideShow{
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
}